<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-logos">
      <img src="angular.svg" alt="Angular 20" class="tech-logo" />
      <img src="nodejs.svg" alt="Node.js" class="tech-logo" />
    </div>
    <div class="footer-text">
      <p>
        This website was developed to showcase my skills. Built with <strong>Angular 20</strong> and
        <strong>Node.js</strong>.
      </p>
      <p>
        Data provided by the
        <a href="https://fdc.nal.usda.gov/" target="_blank" rel="noopener noreferrer">USDA Food Data Central API</a>.
      </p>
      <p>
        Github :
        <a href="https://github.com/will-pznt/meals-tracker" target="_blank" rel="noopener noreferrer">
          Repository here</a
        >.
      </p>
      <p>© 2025 Willy Pezant</p>
    </div>
  </div>
</footer>
